<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.emptyApplication.qw</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>工具栏加上导航栏   [Mr.Qing]</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Podfile</string>
						<string>Assets.xcassets</string>
						<string>AppDelegate.m:imports:importHeader:QWTabBarController.h</string>
						<string>Other/___PROJECTNAME___PrefixHeader.pch</string>
						<string>Other/CommonlyMacro.h</string>
						<string>Base/QWBaseViewController.h</string>
						<string>Base/QWBaseViewController.m</string>
						<string>Base/QWNavitionController.h</string>
						<string>Base/QWNavitionController.m</string>
						<string>Base/QWTabBarController.h</string>
						<string>Base/QWTabBarController.m</string>
						<string>Extension/UIView+Extension.h</string>
						<string>Extension/UIView+Extension.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Podfile</key>
						<dict>
							<key>Path</key>
							<string>Podfile</string>
						</dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<string>99</string>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>#warning 复制到 prefix Header 中
//    $(SRCROOT)/___PROJECTNAME___/Other/___PROJECTNAME___PrefixHeader.pch
self.window = [[UIWindow alloc] initWithFrame:[UIScreen mainScreen].bounds];
QWTabBarController *tabBar = [[QWTabBarController alloc] init];
self.window.rootViewController = tabBar;
[self.window makeKeyAndVisible];
</string>
						<key>Extension/UIView+Extension.m</key>
						<dict>
							<key>SortOrder</key>
							<string>1</string>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>Extension/UIView+Extension.m</string>
						</dict>
						<key>Extension/UIView+Extension.h</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>Extension/UIView+Extension.h</string>
						</dict>
						<key>Base/QWTabBarController.m</key>
						<dict>
							<key>Path</key>
							<string>Base/QWTabBarController.m</string>
							<key>SortOrder</key>
							<string>2</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>Base/QWTabBarController.h</key>
						<dict>
							<key>Path</key>
							<string>Base/QWTabBarController.h</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>Base/QWNavitionController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>Base/QWNavitionController.m</string>
						</dict>
						<key>Base/QWNavitionController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>Base/QWNavitionController.h</string>
						</dict>
						<key>Base/QWBaseViewController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>Base/QWBaseViewController.m</string>
						</dict>
						<key>Base/QWBaseViewController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>Base/QWBaseViewController.h</string>
						</dict>
						<key>Other/CommonlyMacro.h</key>
						<dict>
							<key>SortOrder</key>
							<string>3</string>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>Other/CommonlyMacro.h</string>
						</dict>
						<key>Other/___PROJECTNAME___PrefixHeader.pch</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>Other/___PROJECTNAME___PrefixHeader.pch</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
