<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.emptyApplication.qw</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>工具栏加上导航栏   [作者:薇薇卿]</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Podfile</string>
						<string>Assets.xcassets</string>
						<string>AppDelegate.m:imports:importHeader:QWTabBarController.h</string>
						<string>OC/Other/CommonlyConst.h</string>
						<string>OC/Other/CommonlyConst.m</string>
						<string>OC/Other/___PROJECTNAME___PrefixHeader.pch</string>
						<string>OC/Other/CommonlyMacro.h</string>
						<string>OC/Base/QWBaseViewController.h</string>
						<string>OC/Base/QWBaseViewController.m</string>
						<string>OC/Base/QWNavitionController.h</string>
						<string>OC/Base/QWNavitionController.m</string>
						<string>OC/Base/QWTabBarController.h</string>
						<string>OC/Base/QWTabBarController.m</string>
						<string>OC/Extension/UIView+Extension.h</string>
						<string>OC/Extension/UIView+Extension.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Podfile</key>
						<dict>
							<key>Path</key>
							<string>Podfile</string>
						</dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<string>99</string>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>#warning 复制到 prefix Header 中
    //    $(SRCROOT)/___PROJECTNAME___/OC/Other/___PROJECTNAME___PrefixHeader.pch
    self.window = [[UIWindow alloc] initWithFrame:[UIScreen mainScreen].bounds];
    QWTabBarController *tabBar = [[QWTabBarController alloc] init];
    self.window.rootViewController = tabBar;
    [self.window makeKeyAndVisible];</string>
						<key>OC/Extension/UIView+Extension.m</key>
						<dict>
							<key>SortOrder</key>
							<string>1</string>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>OC/Extension/UIView+Extension.m</string>
						</dict>
						<key>OC/Extension/UIView+Extension.h</key>
						<dict>
							<key>Group</key>
							<string>Extension</string>
							<key>Path</key>
							<string>OC/Extension/UIView+Extension.h</string>
						</dict>
						<key>OC/Base/QWTabBarController.m</key>
						<dict>
							<key>Path</key>
							<string>OC/Base/QWTabBarController.m</string>
							<key>SortOrder</key>
							<string>2</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>OC/Base/QWTabBarController.h</key>
						<dict>
							<key>Path</key>
							<string>OC/Base/QWTabBarController.h</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>OC/Base/QWNavitionController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/QWNavitionController.m</string>
						</dict>
						<key>OC/Base/QWNavitionController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/QWNavitionController.h</string>
						</dict>
						<key>OC/Base/QWBaseViewController.m</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/QWBaseViewController.m</string>
						</dict>
						<key>OC/Base/QWBaseViewController.h</key>
						<dict>
							<key>Group</key>
							<string>Base</string>
							<key>Path</key>
							<string>OC/Base/QWBaseViewController.h</string>
						</dict>
						<key>OC/Other/CommonlyMacro.h</key>
						<dict>
							<key>SortOrder</key>
							<string>3</string>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>OC/Other/CommonlyMacro.h</string>
						</dict>
						<key>OC/Other/___PROJECTNAME___PrefixHeader.pch</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>OC/Other/___PROJECTNAME___PrefixHeader.pch</string>
						</dict>
						<key>OC/Other/CommonlyConst.h</key>
						<dict>
							<key>Group</key>
							<string>Other</string>
							<key>Path</key>
							<string>OC/Other/CommonlyConst.h</string>
						</dict>
						<key>OC/Other/CommonlyConst.m</key>
						<dict>
							<key>Path</key>
							<string>OC/Other/CommonlyConst.m</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
					</dict>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Assets.xcassets</string>
						<string>Swift/Other/Macro.swift</string>
						<string>Swift/Base/QWBaseViewController.swift</string>
						<string>Swift/Base/QWNavitionController.swift</string>
						<string>Swift/Base/QWTabBarController.swift</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<integer>50</integer>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>Swift/Other/Macro.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>1000</integer>
							<key>Path</key>
							<string>Other-Swift/Macro.swift</string>
							<key>Group</key>
							<string>Other</string>
						</dict>
						<key>Swift/Base/QWTabBarController.swift</key>
						<dict>
							<key>SortOrder</key>
							<integer>900</integer>
							<key>Path</key>
							<string>Swift/Base/QWTabBarController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>Swift/Base/QWNavitionController.swift</key>
						<dict>
							<key>SortOrder</key>
							<string>101</string>
							<key>Path</key>
							<string>Swift/Base/QWNavitionController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>Swift/Base/QWBaseViewController.swift</key>
						<dict>
							<key>SortOrder</key>
							<string>102</string>
							<key>Path</key>
							<string>Swift/Base/QWBaseViewController.swift</string>
							<key>Group</key>
							<string>Base</string>
						</dict>
						<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string> self.window = UIWindow(frame: UIScreen.mainScreen().bounds)
                self.window?.backgroundColor = UIColor.whiteColor()
                let rootCtl = QWTabBarController()
                self.window?.rootViewController = rootCtl
                 //FIXME:此处设置 tabBar 子视图控制器 的名称
                 rootCtl.VCArray = [&quot;QWBaseViewController&quot;,&quot;QWBaseViewController&quot;,&quot;QWBaseViewController&quot;,&quot;QWBaseViewController&quot;]
                //FIXME:此处设置 tabBar 子视图控制器 的标题
                 rootCtl.titleArray = [&quot;单糖&quot;,&quot;分类&quot;,&quot;我&quot;]
                //FIXME:设置图标
                //rootCtl.imageArray
                 //FIXME:设置选中图标
                //rootCtl.selectImageArray
                //选中icon 未选中icon
                self.window?.makeKeyAndVisible()
</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
