<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>该模板能快速创建一个带有工具栏控制器和导航栏控制器的应用程序</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Assets.xcassets</string>
						<string>AppDelegate.m:imports:importHeader:QWTabBarController.h</string>
						<string>___PROJECTNAME___PrefixHeader.pch</string>
						<string>BaseController/QWBaseViewController.h</string>
						<string>BaseController/QWBaseViewController.m</string>
						<string>BaseController/QWNavitionController.h</string>
						<string>BaseController/QWNavitionController.m</string>
						<string>BaseController/QWTabBarController.h</string>
						<string>BaseController/QWTabBarController.m</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Assets.xcassets</key>
						<dict>
							<key>SortOrder</key>
							<string>99</string>
							<key>Path</key>
							<string>Assets.xcassets</string>
						</dict>
						<key>AppDelegate.m:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
						<string>#warning 复制到 prefix Header 中
//    $(SRCROOT)/___PROJECTNAME___/___PROJECTNAME___PrefixHeader.pch
self.window = [[UIWindow alloc] initWithFrame:[UIScreen mainScreen].bounds];
QWTabBarController *tabBar = [[QWTabBarController alloc] init];
self.window.rootViewController = tabBar;
[self.window makeKeyAndVisible];</string>
						<key>BaseController/QWTabBarController.m</key>
						<dict>
							<key>Path</key>
							<string>BaseController/QWTabBarController.m</string>
							<key>SortOrder</key>
							<string>2</string>
							<key>Group</key>
							<string>BaseController</string>
						</dict>
						<key>BaseController/QWTabBarController.h</key>
						<dict>
							<key>Path</key>
							<string>BaseController/QWTabBarController.h</string>
							<key>Group</key>
							<string>BaseController</string>
						</dict>
						<key>BaseController/QWNavitionController.m</key>
						<dict>
							<key>Group</key>
							<string>BaseController</string>
							<key>Path</key>
							<string>BaseController/QWNavitionController.m</string>
						</dict>
						<key>BaseController/QWNavitionController.h</key>
						<dict>
							<key>Group</key>
							<string>BaseController</string>
							<key>Path</key>
							<string>BaseController/QWNavitionController.h</string>
						</dict>
						<key>BaseController/QWBaseViewController.m</key>
						<dict>
							<key>Group</key>
							<string>BaseController</string>
							<key>Path</key>
							<string>BaseController/QWBaseViewController.m</string>
						</dict>
						<key>BaseController/QWBaseViewController.h</key>
						<dict>
							<key>Group</key>
							<string>BaseController</string>
							<key>Path</key>
							<string>BaseController/QWBaseViewController.h</string>
						</dict>
						<key>___PROJECTNAME___PrefixHeader.pch</key>
						<dict>
							<key>SortOrder</key>
							<string>98</string>
							<key>Path</key>
							<string>___PROJECTNAME___PrefixHeader.pch</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>testaaa</string>
			<key>Values</key>
			<array>
				<string>SwiftUI</string>
				<string>Storyboard</string>
			</array>
			<key>Default</key>
			<string>SwiftUI</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
</dict>
</plist>
